In [1]:
from niche_vlaanderen import Niche
from niche_vlaanderen.bwk_overlay import NicheOverlay


# logger.setLevel(logging.DEBUG)

In [2]:
nv = Niche()
nv.run_config_file("../tests/data/bwk/niche_brasschaat/simple.yaml")

no_full = NicheOverlay(niche=nv, map="../tests/data/bwk/BWK_edit_20190207.shp")
no_full.overlay()

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████| 14/14 [01:02<00:00,  4.50s/it]
/home/johan/Nextcloud/_proj/niche/niche_vlaanderen/niche_vlaanderen/bwk_overlay.py:204: RuntimeWarning: invalid value encountered in double_scalars
  area_pot_perc = area_pot / (area_pot + area_nonpot)
/home/johan/Nextcloud/_proj/niche/niche_vlaanderen/niche_vlaanderen/bwk_overlay.py:208: RuntimeWarning: invalid value encountered in double_scalars
  [100 * area_pot / area_effective, 100]
/home/johan/Nextcloud/_proj/niche/niche_vlaanderen/niche_vlaanderen/bwk_overlay.py:208: RuntimeWarning: divide by zero encountered in double_scalars
  [100 * area_pot / area_effective, 100]

In [3]:
no_full.store(path="./tmp/brasschaat")

In [4]:
no_full.summary

,area_effective,nonpot,nonpot_opt,pot,polygon_count,score,score_opt
vegetation,,,,,,,
1.0,0.617140,1.433977,0.617140,0.000000,5.0,0.000000,0.000000
2.0,4.898596,6.733458,3.340364,1.558671,8.0,18.796992,31.815876
3.0,6.566876,6.920499,6.566876,0.000000,7.0,0.000000,0.000000
4.0,0.534600,0.685815,0.534600,0.000000,1.0,0.000000,0.000000
6.0,302.359795,329.939451,180.108721,203.313029,172.0,38.126973,53.025951
12.0,0.787588,0.000000,0.000000,0.872856,1.0,100.000000,100.000000
14.0,1.176099,1.309284,1.176099,0.000000,3.0,0.000000,0.000000
18.0,1.109690,1.558671,0.414247,1.059896,3.0,40.476190,71.899151
20.0,5.808453,29.053625,5.808453,0.000000,2.0,0.000000,0.000000
21.0,3.277699,2.930301,2.965964,0.311734,1.0,9.615385,9.510764
22.0,51.028533,65.339483,46.619153,9.601413,115.0,12.811980,17.078115
25.0,0.427230,1.059896,0.427230,0.000000,6.0,0.000000,0.000000
27.0,1.224505,0.872856,0.912771,0.311734,1.0,26.315789,25.457973
28.0,64.544804,85.165777,56.992523,9.975494,130.0,10.484928,14.895907

In [5]:
no_full.area_pot_perc

vegetation,1.0,2.0,3.0,4.0,6.0,12.0,14.0,18.0,20.0,21.0,22.0,25.0,27.0,28.0
shape_id,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3464,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3465,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN